In [90]:
import pandas as pd
import os
from datetime import datetime
print(os.getcwd())
wd = os.getcwd()
print(wd)
df = pd.read_csv('bankmarketing.csv')
df['year'] = 2022
# data = pd.read_csv('C:\Users\Peter_PPT\OneDrive\Courses\MMDT Data Engineering\exercise\PythonW4\bank_marking.csv')

c:\Users\Peter_PPT\OneDrive\Courses\MMDT Data Engineering\exercise\PythonW4
c:\Users\Peter_PPT\OneDrive\Courses\MMDT Data Engineering\exercise\PythonW4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   age                         41188 non-null  int64
 2   job                         41188 non-null  object
 3   marital                     41188 non-null  object
 4   education                   41188 non-null  object
 5   credit_default              41188 non-null  object
 6   mortgage                    41188 non-null  object
 7   month                       41188 non-null  object
 8   day                         41188 non-null  int64
 9   contact_duration            41188 non-null  int64
 10  number_contacts             41188 non-null  int64
 11  previous_campaign_contacts  41188 non-null  int64
 12  previous_outcome            41188 non-null  object
 13  cons_price_idx              41188 non-null  float64
 14  euribor_three_months        41188 non-null  float64
 15  campaign_outcome            41188 non-null  object
dtypes: float64(2), int64(6), object(8)
memory usage: 5.0+ MB

In [7]:
df.describe()

,client_id,age,day,contact_duration,number_contacts,previous_campaign_contacts,cons_price_idx,euribor_three_months
count,41188.00000,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,20593.50000,40.02406,15.730334,258.285010,2.567593,0.172963,93.575664,3.621291
std,11890.09578,10.42125,8.889867,259.279249,2.770014,0.494901,0.578840,1.734447
min,0.00000,17.00000,1.000000,0.000000,1.000000,0.000000,92.201000,0.634000
25%,10296.75000,32.00000,8.000000,102.000000,1.000000,0.000000,93.075000,1.344000
50%,20593.50000,38.00000,16.000000,180.000000,2.000000,0.000000,93.749000,4.857000
75%,30890.25000,47.00000,23.000000,319.000000,3.000000,0.000000,93.994000,4.961000
max,41187.00000,98.00000,31.000000,4918.000000,56.000000,7.000000,94.767000,5.045000

## check list
### need to clean
job: remove .
education replace . to -
### no need to clean
age no need as it is integer and limit is between 17 and 98
marital
credit_default
mortgage
month
day no need as it is integer and limit is between 1 and 31
contact_duration no need as it is integer and limit is between 1 and 31
number_contacts
previous_campaign_contacts
previous_outcome
cons_price_idx
euribor_three_months

In [36]:
a= df.campaign_outcome
print(df.columns)
print(a.unique())
print(a.min())
print(a.max())
print(a.dtype)

Index(['client_id', 'age', 'job', 'marital', 'education', 'credit_default',
       'mortgage', 'month', 'day', 'contact_duration', 'number_contacts',
       'previous_campaign_contacts', 'previous_outcome', 'cons_price_idx',
       'euribor_three_months', 'campaign_outcome'],
      dtype='object')
['no' 'yes']
no
yes
object

In [81]:
df.year

AttributeError: 'DataFrame' object has no attribute 'year'

## Checklist for data cleaning
1. read csv file
2. Group same column
3. start cleaning Client data
    1. start cleaning 'job' column? "." replace with "_"
    2. education
    3. 'yes' - 1, else -0 
4. start cleaning Campaign data
    1. ...
    2. 'last_contact_data' created by month, day, year (default 2022)

In [85]:
clientcol = ['client_id','age','job','marital','education','credit_default','mortgage']
campaign_cols = ['client_id','number_contacts','contact_duration','previous_campaign_contacts','previous_outcome',]
economics_cols = ['client_id','cons_price_idx','euribor_three_month']

extra_date_cols = ['day','month','year']
print(df.columns)

Index(['client_id', 'age', 'job', 'marital', 'education', 'credit_default',
       'mortgage', 'month', 'day', 'contact_duration', 'number_contacts',
       'previous_campaign_contacts', 'previous_outcome', 'cons_price_idx',
       'euribor_three_months', 'campaign_outcome', 'year'],
      dtype='object')

In [79]:
## Select client data from raw dataframe
client_df = df[clientcol]
adf = df[clientcol]
# print(client_df.columns)

# print(df.shape)
# print(client_df.shape)

## job column - replace '.' for the last word with ''
client_df.loc[:,'job']=client_df['job'].str.replace(r'\.$','',regex=True) ## .str.rstrip(".")
# print(client_df.job.value_counts())

## education col - replace "." with '_'
client_df.loc[:,'education']=client_df['education'].str.replace(".","_")
# print(client_df.education.value_counts())

## mapping / iterrow/ itertuple/ apply
client_df.loc[:,'credit_default'] = client_df['credit_default'].apply(lambda row:True if row=='yes' else False).astype('bool')
# print(client_df['credit_default'].unique)
# print(client_df.credit_default.unique())
client_df.loc[:,'mortgage'] = client_df.apply(lambda row:True if row['mortgage']=='yes' else False,axis=1)
bool_mapping = {'yes':True, 'no':False, 'unknown': False}
a=adf['credit_default'].replace(bool_mapping)
b=adf['credit_default'].map(bool_mapping)
# print(a.value_counts())
# print(a)
# print(b.value_counts())
# print(adf.credit_default.value_counts())
print(client_df.info())
print(client_df.mortgage.unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   mortgage        41188 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.2+ MB
None
[False True]

In [95]:
## Campaing data
campaign_df = df[campaign_cols+extra_date_cols]
# print(campaign_df.columns)

## create date - last_contact_date
## day, month, year -> change string type, concat 3 cols, pd.to_datetime(..)
campaign_df['last_contact_date'] = pd.to_datetime(
    campaign_df['day'].astype(str) +'-'+ campaign_df['month'] +'-'+ campaign_df['year'].astype(str)
)
# print(campaign_df['last_contact_date'])
# print(df.month.unique())
campaign_df['month'] = pd.to_datetime(campaign_df['month'], format='%b').dt.month
# print(campaign_df.month.head())
# print(campaign_df.month.unique())
campaign_df['last_contact_date'] = pd.to_datetime(
    dict(year=campaign_df.year, month=campaign_df.month, day=campaign_df.day)
)
print(campaign_df.last_contact_date.unique())
##

<DatetimeArray>
['2022-05-13 00:00:00', '2022-05-19 00:00:00', '2022-05-23 00:00:00',
 '2022-05-27 00:00:00', '2022-05-03 00:00:00', '2022-05-05 00:00:00',
 '2022-05-12 00:00:00', '2022-05-21 00:00:00', '2022-05-08 00:00:00',
 '2022-05-09 00:00:00',
 ...
 '2022-12-10 00:00:00', '2022-12-02 00:00:00', '2022-12-15 00:00:00',
 '2022-12-04 00:00:00', '2022-12-18 00:00:00', '2022-12-16 00:00:00',
 '2022-12-30 00:00:00', '2022-12-01 00:00:00', '2022-12-23 00:00:00',
 '2022-12-03 00:00:00']
Length: 306, dtype: datetime64[ns]

C:\Users\Peter_PPT\AppData\Local\Temp\ipykernel_4328\1073757044.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  campaign_df['last_contact_date'] = pd.to_datetime(
C:\Users\Peter_PPT\AppData\Local\Temp\ipykernel_4328\1073757044.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign_df['last_contact_date'] = pd.to_datetime(
C:\Users\Peter_PPT\AppData\Local\Temp\ipykernel_4328\1073757044.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign_df['month'] = pd.to_datetime(campaign_df['month'], format='%b').dt.month
C:\Users\Peter_PPT\AppData\Local\Temp\ipykernel_4328\1073757044.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign_df['last_contact_date'] = pd.to_datetime(

In [87]:
df.columns

Index(['client_id', 'age', 'job', 'marital', 'education', 'credit_default',
       'mortgage', 'month', 'day', 'contact_duration', 'number_contacts',
       'previous_campaign_contacts', 'previous_outcome', 'cons_price_idx',
       'euribor_three_months', 'campaign_outcome', 'year'],
      dtype='object')